@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --first-blue: rgba(130, 179, 211, 1);
  --second-blue: rgba(131, 179, 211, 0.12);
  --third-blue: rgba(131, 179, 211, 0.2);
  --dark-gray: rgba(51, 51, 51, 1);
  --light-gray: rgba(242, 242, 242, 1);
  --brown: rgba(117, 97, 87, 1);
  --green: rgba(125, 181, 79, 1);
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--black);
  background-color: var(--light-gray);
  margin: 0;
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: var(--white);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--brown);
}

/* Навигация */

.navigation {
  display: flex;
}

.navigation-logo {
  margin-right: 28px;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 339px;
  display: flex;
  align-items: center;
}

.navigation-user {
  max-width: 338px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
}

.navigation-link:not(.button) {
  padding: 20px 16px;
}

.navigation-user .navigation-link:not(.button) {
  padding: 22px 12px;
}

.navigation-link.search {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link.favourite {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/favourite-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-link.button {
  color: var(--white);
  padding: 8px 34px;
  margin-left: 20px;
}

/* Первый экран - "Hero" секция */

.hero {
  width: 100%;
  height: 485px;
  background-image: url("../images/hero/divider.svg"), url("../images/hero/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-bottom: 69px;
}

.hero-image {
  margin-top: 51px;
}

/* Преимущества */

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  max-width: 620px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 25px auto;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-gray);
  margin: 0;
  margin-bottom: 90px;
}

.advantages-description {
  color: var(--dark-gray);
  margin: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  box-sizing: border-box;
  background-color: var(--second-blue);
  width: 400px;
}

.advantages-item:not(.advantages-item-img) {
  padding: 113px 85px;
}

.advantages-item:nth-child(3) {
  background-color: var(--third-blue);
}

.advantages-item-img {
  color: var(--white);
  background-color: var(--first-blue);
  flex-basis: 100%;
  display: flex;
}

.advantages-item:nth-child(5n) {
  flex-direction: row-reverse;
}

.advantages-item-img .advantages-description {
  color: var(--white);
}

.advantages-text-content {
  padding: 102px 85px;
}

.advantages-heading {
  max-width: 175px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto 62px auto;
}

/* Советы */

.adviсe {
  margin-bottom: 96px;
}

.adviсe-title {
  max-width: 505px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
}

.advice-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-gray);
  margin: 0;
  margin-bottom: 64px;
}

.advice-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.advice-item {
  flex-basis: 400px;
  padding: 81px 85px;
}

.advice-item:not(.advice-item:nth-child(2)) {
  background-color: var(--second-blue);
}

.advice-heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 102px;
  margin-bottom: 30px;
}

.advice-description {
  color: var(--dark-gray);
  margin: 0;
}

/* Поиск отеля */

.hotel-search {
  margin-bottom: 96px;
}

.hotel-search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.hotel-search-subtitle {
  max-width: 592px;
  font-size: 22px;
  line-height: 26px;
  color: var(--dark-gray);
  margin: 0 auto 54px auto;
}

.hotel-search-button {
  font-size: 20px;
  line-height: 36px;
}

/* Подписка */

.subscribe {
  color: var(--white);
  background-color: var(--dark-gray);
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  padding-top: 97px;
  padding-bottom: 105px;
}

.subscribe h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe p {
  max-width: 475px;
  font-size: 22px;
  line-height: 26px;
  margin: 0 auto 54px auto;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  background-color: var(--first-blue);
  font-size: 20px;
  line-height: 36px;
}

.subscribe-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  flex-basis: 452px;
  border: none;
  border-radius: 4px 0 0 4px;
  padding: 14px 20px;
}

/* Подвал */

.page-footer {
  padding: 45px 70px 35px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 142px;
  display: flex;
}

.footer-social-icon {
  display: block;
  width: 47px;
  height: 40px;
}

.footer-social-icon.vkontakte {
  background-image: url("../images/social/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-icon.telegram {
  background-image: url("../images/social/telegram.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-icon.youtube {
  background-image: url("../images/social/youtube.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

.footer-link {
  margin: 0;
}

.htmlacademy-link {
  display: inline-block;
  width: 115px;
  height: 33px;
  background-image: url("../images/html-academy-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Шапка каталога */

.catalog-wrapper {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-color: var(--dark-gray);
  color: var(--white);
  text-align: start;
  padding: 35px 70px 70px;
}

.catalog-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;

}

.breadcrumps {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.breadcrumps-link {
  font-size: 16px;
}

.breadcrumps-link.home {
  display: inline-block;
  width: 13px;
  height: 15px;
  background-image: url("../images/breadcrumps/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Фильтры каталога */

.filter {
  display: flex;
  justify-content: space-between;
}

.filter-wrapper {
  display: flex;
  gap: 70px;
}

.filter-caption {
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: none;
  flex-basis: 150px;
}

.filter-option {
  line-height: 23px;
}

.filter-input[name="min-price"],
.filter-input[name="max-price"] {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.filter-button[type="submit"] {
  background-color: var(--first-blue);
}

.filter-button[type="reset"] {
  background-color: transparent;
}

/* Список гостиниц */

.catalog-hotels-header {
  display: flex;
  align-items: center;
  gap: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

.catalog-hotels-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
}

.sort-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
}

.view-wrapper {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.button-view {
  background-color: var(--white);
}

.show-cards {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/view-mode/many-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.show-card {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/view-mode/one-card.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.show-list {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../images/view-mode/list.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* Карточки */

.hotels-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
}

.hotels-card {
  text-align: start;
  color: var(--dark-gray);
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: var(--black);
}

.hotels-card-price {
  font-weight: 400;
}

.hotels-card-button[type="button"] {
  background-color: var(--first-blue);
}

.hotels-card-button-active[type="button"] {
  background-color: var(--green);
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
}

/* Пагинация */

.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 70px;
  padding-right: 70px;
  display: flex;
  gap: 8px;
}

.pagination-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-decoration: none;
  background-color: var(--first-blue);
  color: var(--white);
}

.pagination-link-current {
  background-color: var(--light-gray);
  color: var(--black);
}
